 <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item class="mb-sm">

      <nz-form-label  nzSpan="3" nzFor="name" nzRequired> Name </nz-form-label>
      <nz-form-control  nzSpan="8" >
        <nz-input-group   >
          <input nz-input formControlName="name"  name="name"   maxlength="15"  minlength="1" placeholder="Please input name" />
        </nz-input-group>
      </nz-form-control>

      <nz-form-label nzSpan="3"  nzFor="type">Type</nz-form-label>
      <nz-form-control nzSpan="8"  >
            <nz-select formControlName="type"   nzPlaceHolder="Please select type">
                    <nz-option [nzLabel]="t.name" [nzValue]="t.value" *ngFor="let t of typeOptions">
                    </nz-option>
            </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-sm">
        <nz-form-label  nzSpan="3" nzFor="age" nzRequired> Age </nz-form-label>
      
        <nz-form-control  nzSpan="8" >
          <nz-input-group  >
            <input nz-input formControlName="age"  name="age"   minlength="1" placeholder="Please input age" />
          </nz-input-group>
   
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label  nzSpan="3" nzFor="address" >Address  </nz-form-label>
        <nz-form-control  nzSpan="19" >
          <nz-input-group>
            <textarea nz-input name="address"
            formControlName="address" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
            placeholder="Please input address"></textarea>
          </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <div *nzModalFooter>
            <button nz-button nzType="default" (click)="onCancel()" >Cancel</button>
            <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!validateForm.valid">submit</button>
          </div>

        </nz-form-control>
      </nz-form-item>
  </form>


