<div class="custom-container">
    <div class="custom-container-title">
       table 1
    </div>
    <p>
        text box filtering
    </p>
    <app-table1></app-table1>
</div>
<div class="custom-container">
    <div class="custom-container-title">
       table 2
    </div>
    <p>
       add and edit and delete a feature 
    </p>
    <app-table2></app-table2>
</div>

<div class="custom-container">
    <div class="custom-container-title">
       table 3
    </div>
    <p>
        column sort 
    </p>
    <app-table3></app-table3>
</div>
<div class="custom-container">
    <div class="custom-container-title">
       table 4
    </div>
    <p>
        If a table contains too many contents to display all at once, you can use the nzExpand attribute on td to expand it.
    </p>
    <app-table4></app-table4>
</div>