<div style="margin-bottom: 8px;">
    <button nz-button nzType="primary" (click)="change()">Switch Data</button>
</div>
<ng-template #indicatorTemplate>
    <span nz-icon nzType="loading" class="ant-spin-dot ant-spin-dot-spin"></span>
  </ng-template>
  <nz-spin [nzSpinning]="loading"  [nzIndicator]="indicatorTemplate" [nzSize]="'large'" >

<nz-list nzItemLayout="horizontal">
    <nz-list-item *ngFor="let item of data">
      <nz-list-item-meta
        nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team"
      >
        <nz-list-item-meta-title>
          <a href="https://ng.ant.design">{{ item.title }}</a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
  </nz-list>
</nz-spin>