$media:screen;
$feature:max-width;

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
    font-family: sans-serif;
    background-color: #fff;
    overflow: hidden;
  }
  
  .container::before {
    content: '';
    position: absolute;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
    width: 2000%;
    height: 2000%;
    background-image: linear-gradient(-45deg, #ad99fe 0%, #ad99fe 100%);
    border-radius: 10%;
    z-index: 3;
  }
  
  .panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    z-index: 9;
  
    .panel-content {
      color: #fff;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
  
      h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 1;
      }
  
      p {
        padding: 10px 0;
      }
  
      .panel-btn {
        width: 130px;
        height: 41px;
        outline: none;
        border: 2px solid #fff;
        border-radius: 49px;
        background: none;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
      }
    }
  
    .panel-img {
      width: 100%;
      transition: transform 1.1s ease-in-out;
      transition-delay: 0.4s;
    }
  }
  
  .left-panel {
    pointer-events: all;
    padding: 42px 17% 28px 12%;
  }
  
  .forms-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .sign-in-up {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    transition: 1s 0.7s ease-in-out;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    transition: all 0.2s 0.7s;
  }
  
  
  .sign-in-form {
    z-index: 2;
  }
  
  .form-title {
    font-size: 30px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    max-width: 380px;
    height: 55px;
    line-height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 6px;
    background-color: #f0f0f0;
    margin: 10px 0;
  
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
  
    input {
      outline: none;
      border: none;
      background: none;
      font-size: 16px;
      font-weight: 600;
      color: #333;
      line-height: 1;
    }
  
    input::placeholder {
      color: #aaa;
      font-weight: 500;
    }
  }
  
  .form-btn {
    width: 150px;
    height: 49px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 49px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #038bb8;
    cursor: pointer;
  }
  
  .form-btn:hover {
    background-color: #44798b;
  }
  
  .social-text {
    padding: 10px 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-link {
    margin: 0 4px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .social-link:hover {
    color: #038bb8;
  }
  
  .social-icon {
    fill: currentColor;
  }
  $maxValue:870px;
@media #{$media}  and ($feature:$maxValue) {
    .container {
      min-height: 760px;
      height: 100vh;
    }
  
    .container::before {
      left: 30%;
      bottom: 68%;
      top: initial;
      right: initial;
      transform: translateX(-50%);
      transition: 2s ease-in-out;
      width: 1500px;
      height: 1500px;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      grid-column: 1 / span 1;
      padding: 35px 8%;
  
      .panel-content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
  
        h3 {
          font-size: 18px;
        }
  
        p {
          font-size: 12px;
          padding: 8px 0;
        }
  
        .panel-btn {
          width: 110px;
          height: 35px;
          font-size: 12px;
        }
      }
  
      .panel-img {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
      }
    }
  
    .left-panel {
      grid-row: 1 / span 1;
    }
  
    .sign-in-up {
      top: 95%;
      left: 50%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
      width: 100%;
    }
  }
  
$minValue:570px;
  @media #{$media}  and ($feature:$minValue) {
    .container {
      padding: 20px;
    }
  
    .container::before {
      left: 50%;
      bottom: 72%;
    }
  
    .panel {
      .panel-content {
        padding: 8px 14px;
      }
  
      .panel-img {
        display: none;
      }
    }

  
    .sign-in-form {
      padding: 0 22px;
    }
  }