


  <form nz-form class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <nz-form-control [nzSpan]="3">
        <nz-input-number
        [ngModelOptions]="{ standalone: true }"
        [nzStep]="1"
        [nzMin]="0"
        [(ngModel)]="queryObject.id">
    </nz-input-number>
      </nz-form-control>
      <nz-form-control [nzSpan]="3">
        <input
          [ngModelOptions]="{ standalone: true }"
          type="text"
          nz-input
          placeholder="please input name"
          [(ngModel)]="queryObject.name"
        />
      </nz-form-control>
      <nz-form-control [nzSpan]="3">
        <nz-select
        class="custom-select"
          [ngModelOptions]="{ standalone: true }"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="please input age"
          style="width: 100%;"
          [(ngModel)]="queryObject.type">
          <nz-option [nzLabel]="option.name" [nzValue]="option.value" *ngFor="let option of typeOptions">
          </nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-control [nzSpan]="3">
        <nz-input-number
          [ngModelOptions]="{ standalone: true }"
          [nzStep]="1"
          [nzMin]="0"
          [(ngModel)]="queryObject.age">
      </nz-input-number>
      </nz-form-control>
      <nz-form-control [nzSpan]="3">
        <button nz-button (click)="search()"  [nzLoading]="loading" [nzType]="'primary'">
          <i nz-icon nzType="search"></i>
         
          <span>search</span>
          </button>
      </nz-form-control>
    </div>
  </form>

  <div class="send-request">
    </div>
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th>Id</th>
          <th>Type</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.type.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </tbody>
    </nz-table>



  
